.classy_feature2_sarthak_instagram_area {
	padding-left: 200px;
	padding-right: 25px
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
	.classy_feature2_sarthak_instagram_area {
		padding-left: 44px;
		padding-right: 10px
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.classy_feature2_sarthak_instagram_area {
		padding: 0
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.classy_feature2_sarthak_instagram_area {
		padding: 0
	}
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
	.classy_feature2_sarthak_instagram_area {
		padding: 0
	}
}

@media (max-width: 575px) {
	.classy_feature2_sarthak_instagram_area {
		padding: 0
	}
}

.classy_feature2_sarthak_instagram_area .classy_feature2_sarthak_section_tittle img {
	margin-bottom: 30px
}

.classy_feature2_sarthak_instagram_area .classy_feature2_sarthak_instagram_single::before {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #010a44;
	opacity: 0;
	visibility: hidden;
	z-index: 1;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-o-transition: .4s;
	transition: .4s
}

.classy_feature2_sarthak_instagram_area .classy_feature2_sarthak_instagram_single i {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	top: 45%;
	color: #fff;
	font-size: 30px;
	z-index: 2;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-o-transition: .4s;
	transition: .4s
}

.classy_feature2_sarthak_instagram_area .classy_feature2_sarthak_instagram_single:hover i {
	top: 48%;
	opacity: 1;
	visibility: visible
}

.classy_feature2_sarthak_instagram_area .classy_feature2_sarthak_instagram_single:hover::before {
	visibility: visible;
	opacity: .3
}

.classy_feature2_sarthak_instagram_area .classy_feature2_sarthak_instagram_single::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: rgb(1, 10, 68);
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: all 0.4s ease 0s;
}


body {
	font-family: "Poppins", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 16px
}

.classy_feature2_sarthak_mb_40 {
	margin-bottom: 40px
}

.classy_feature2_sarthak_mb_35 {
	margin-bottom: 35px
}

.classy_feature2_sarthak_section_tittle classy_feature2_sarthak_h2 {
	font-size: 40px;
	display: block;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 20px;
	text-transform: uppercase
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
	.classy_feature2_sarthak_section_tittle classy_feature2_sarthak_h2 {
		font-size: 36px
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.classy_feature2_sarthak_section_tittle classy_feature2_sarthak_h2 {
		font-size: 38px
	}
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
	.classy_feature2_sarthak_section_tittle classy_feature2_sarthak_h2 {
		font-size: 36px
	}
}

@media (max-width: 575px) {
	.classy_feature2_sarthak_section_tittle classy_feature2_sarthak_h2 {
		font-size: 28px
	}
}

classy_feature2_sarthak_h2 {
	font-family: "Poppins", sans-serif;
	color: #1a1a1a;
	margin-top: 0px;
	font-style: normal;
	font-weight: 500;
	text-transform: normal
}

.classy_feature2_sarthak_section_tittle p {
	color: #7F85A8;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6
}

p {
	font-family: "Poppins", sans-serif;
	color: #646D77;
	font-size: 14px;
	line-height: 30px;
	margin-bottom: 15px;
	font-weight: normal;
	line-height: 1.4
}


.classy_feature2_sarthak_border-btn {
	border: 1px solid #FD8F5F;
	color: #FD8F5F;
	background: none;
	border-radius: 0px;
	text-transform: uppercase;
	padding: 17px 42px;
	-moz-user-select: none;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 1px;
	margin-bottom: 0;
	position: relative;
	transition: color 0.4s linear;
	position: relative;
	overflow: hidden;
	margin: 0
}

.classy_feature2_sarthak_border-btn::before {
	border: 1px solid transparent;
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 101%;
	height: 101%;
	background: #FD8F5F;
	z-index: -1;
	transition: transform 0.5s;
	transition-timing-function: ease;
	transform-origin: 0 0;
	transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
	transform: scaleY(0);
	border-radius: 0
}

a,
.button {
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	transition: .3s
}

a,
button {
	color: #fff;
	outline: medium none
}
a {
	color: #635c5c;

}
a:link{
	text-decoration: none;
	display: inline block;
	/* color: white; */
}
a:hover{
	color: white;
}



.classy_feature2_sarthak_border-btn:hover::before {
	transform: scaleY(1);
	border: 1px solid transparent;
	color: #fff
}

.classy_feature2_sarthak_no-gutters {
    margin-right: 0px;
    margin-left: 0px;
}


.classy_feature2_sarthak_no-gutters > .col, .classy_feature2_sarthak_no-gutters > [class*="col-"] {
    padding-right: 0px;
    padding-left: 0px;
}

.classy_feature2_sarthak_w-100 {
    width: 100% !important;
}




*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  html {
    font-size: 62.5%;
  }
  
