html,
body {
	height: 100%;
	font-family: "Montserrat", sans-serif;
	-webkit-font-smoothing: antialiased;
}

.homehero_hira_h1,
.homehero_hira_h4{
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Montserrat", sans-serif;
}

.homehero_hira_h1 {
	font-size: 70px;
}

.homehero_hira_h4 {
	font-size: 24px;
}

.homehero_hira_p {
	font-size: 14px;
	font-family: "Montserrat", sans-serif;
	color: #666666;
	font-weight: 400;
	line-height: 24px;
	margin: 0 0 15px 0;
}

.homehero_hira_img {
	max-width: 100%;
}


.navbar_hira_a:hover,
.navbar_hira_a:focus {
	text-decoration: none;
	outline: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}


/*------ Header ------*/
.navbar_hira_header {
	background: #ffffff;
	-webkit-box-shadow: 0px 5px 10px rgba(91, 91, 91, 0.1);
	box-shadow: 0px 5px 10px rgba(91, 91, 91, 0.1);
}

.navbar_hira_header__logo {
	padding: 26px 0;
}

.navbar_hira_header__logo a {
	display: inline-block;
}

.navbar_hira_header__menu {
	padding: 30px 0 27px;
}

.navbar_hira_header__menu ul li {
	list-style: none;
	display: inline-block;
	margin-right: 40px;
	position: relative;
}

.navbar_hira_header__menu ul li.active a:after {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.navbar_hira_header__menu ul li:hover a:after {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.navbar_hira_header__menu ul li:hover .dropdown {
	top: 27px;
	opacity: 1;
	visibility: visible;
}

.navbar_hira_header__menu ul li:last-child {
	margin-right: 0;
}

.navbar_hira_header__menu ul li .dropdown {
	position: absolute;
	left: 0;
	top: 56px;
	width: 150px;
	background: #111111;
	text-align: left;
	padding: 2px 0;
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.navbar_hira_header__menu ul li .dropdown li {
	display: block;
	margin-right: 0;
}

.navbar_hira_header__menu ul li .dropdown li a {
	font-size: 14px;
	color: #ffffff;
	font-weight: 400;
	padding: 8px 20px;
	text-transform: capitalize;
}

.navbar_hira_header__menu ul li .dropdown li a:after {
	display: none;
}

.navbar_hira_header__menu ul li a {
	font-size: 15px;
	text-transform: uppercase;
	color: #111111;
	font-weight: 500;
	display: block;
	padding: 2px 0;
	position: relative;
}

.navbar_hira_header__menu ul li a:after {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #ca1515;
	content: "";
	-webkit-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}

.navbar_hira_header__right {
	text-align: right;
	padding: 30px 0 27px;
}

.navbar_hira_header__right__auth {
	display: inline-block;
	margin-right: 25px;
}

.navbar_hira_header__right__auth a {
	font-size: 12px;
	color: #666666;
	position: relative;
	margin-right: 8px;
}

.navbar_hira_header__right__auth a:last-child {
	margin-right: 0;
}

.navbar_hira_header__right__auth a:last-child:after {
	display: none;
}

.navbar_hira_header__right__auth a:after {
	position: absolute;
	right: -8px;
	top: -2px;
	content: "/";
	font-size: 13px;
}

.navbar_hira_header__right__widget {
	display: inline-block;
}

.navbar_hira_header__right__widget li {
	list-style: none;
	display: inline-block;
	font-size: 18px;
	color: #111111;
	margin-right: 20px;
	cursor: pointer;
}

.navbar_hira_header__right__widget li:last-child {
	margin-right: 0;
}

.navbar_hira_header__right__widget li a {
	font-size: 18px;
	color: #111111;
	position: relative;
}

.navbar_hira_header__right__widget li a .tip {
	position: absolute;
	right: -12px;
	top: -11px;
	height: 18px;
	width: 18px;
	background: #111111;
	font-size: 10px;
	font-weight: 500;
	color: #ffffff;
	line-height: 18px;
	text-align: center;
	border-radius: 50%;
}
.navbar_hira_canvas__open {
	display: none;
}


/*----- Categories----- */

.homehero_hira_categories {
	overflow: hidden;
	margin-top: 10px;
}

.homehero_hira_categories .container-fluid {
	padding-right: 5px;
}

.homehero_hira_categories__item {
	height: 314px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-left: 30px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.homehero_hira_categories__item.homehero_hira_categories__large__item {
	height: 638px;
	padding-left: 70px;
}

.homehero_hira_categories__item.homehero_hira_categories__large__item .homehero_hira_categories__text {
	max-width: 480px;
}

.homehero_hira_categories__item.homehero_hira_categories__large__item .homehero_hira_categories__text p {
	margin-bottom: 15px;
}

.homehero_hira_categories__text h1 {
	font-family: "Cookie", cursive;
	color: #111111;
	margin-bottom: 5px;
}

.homehero_hira_categories__text h4 {
	color: #111111;
	font-weight: 700;
}

.homehero_hira_categories__text p {
	margin-bottom: 10px;
}

.homehero_hira_categories__text a {
	font-size: 14px;
	color: #111111;
	text-transform: uppercase;
	font-weight: 600;
	position: relative;
	padding: 0 0 3px;
	display: inline-block;
}

.homehero_hira_categories__text a:after {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 2px;
	width: 100%;
	background: #ca1515;
	content: "";
}

@media only screen and (min-width: 1600px) and (max-width: 1900px) {
	.navbar_hira_header {
		padding: 0 85px;
	}
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
	.navbar_hira_header__menu ul li {
		margin-right: 20px;
	}
	.navbar_hira_header {
		padding: 0 30px;
	}
}

@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}

/* Medium Device = 1200px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.navbar_hira_header__menu ul li {
		margin-right: 20px;
	}
	.navbar_hira_header__right__auth {
		margin-right: 5px;
	}
	
}

/* Tablet Device = 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
	.navbar_hira_canvas__open {
		display: block;
		font-size: 22px;
		color: #222;
		height: 35px;
		width: 35px;
		line-height: 35px;
		text-align: center;
		border: 1px solid #323232;
		border-radius: 2px;
		cursor: pointer;
		position: absolute;
		right: 15px;
		top: 24px;
	}
	
	
	.navbar_hira_header__menu {
		display: none;
	}
	.navbar_hira_header__right {
		display: none;
	}
}

/* Wide Mobile = 480px */

@media only screen and (max-width: 767px) {
	.navbar_hira_header__menu {
		display: none;
	}
	.navbar_hira_header__right {
		display: none;
	}
	.navbar_hira_canvas__open {
		display: block;
		font-size: 22px;
		color: #222;
		height: 35px;
		width: 35px;
		line-height: 35px;
		text-align: center;
		border: 1px solid #323232;
		border-radius: 2px;
		cursor: pointer;
		position: absolute;
		right: 15px;
		top: 24px;
	}
	
}

/* Small Device = 320px */

@media only screen and (max-width: 479px) {
	.navbar_hira_header__menu {
		display: none;
	}
	.navbar_hira_header__right {
		display: none;
	}
	.homehero_hira_categories__item.homehero_hira_categories__large__item {
		padding-left: 30px;
	}
	
}