.footer_feature_sarthak_footer {
	padding-top: 55px;
}

.footer_feature_sarthak_footer__about {
	margin-bottom: 30px;
}

.footer_feature_sarthak_footer__about p {
	margin-bottom: 20px;
}

.footer_feature_sarthak_footer__logo {
	margin-bottom: 20px;
}

.footer_feature_sarthak_footer__payment a {
	margin-right: 6px;
	margin-bottom: 10px;
	display: inline-block;
}

.footer_feature_sarthak_footer__payment a:last-child {
	margin-right: 0;
}

.footer_feature_sarthak_footer__widget {
	margin-bottom: 30px;
}

.footer_feature_sarthak_footer__widget footer_feature_sarthak_h6 {
	color: #111111;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 12px;
}

.footer_feature_sarthak_footer__widget footer_feature_sarthak_ul li {
	list-style: none;
}

.footer_feature_sarthak_footer__widget footer_feature_sarthak_ul li a {
	font-size: 14px;
	color: #666666;
	line-height: 30px;
}

.footer_feature_sarthak_footer__newslatter {
	margin-bottom: 30px;
}

.footer_feature_sarthak_footer__newslatter footer_feature_sarthak_h6 {
	color: #111111;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 25px;
}

.footer_feature_sarthak_footer__newslatter form {
	position: relative;
	margin-bottom: 30px;
}

.footer_feature_sarthak_footer__newslatter form input {
	height: 52px;
	width: 100%;
	border: 1px solid #e1e1e1;
	border-radius: 50px;
	padding-left: 30px;
	font-size: 14px;
	color: #666666;
}

.footer_feature_sarthak_footer__newslatter form input::-webkit-input-placeholder {
	color: #666666;
}

.footer_feature_sarthak_footer__newslatter form input::-moz-placeholder {
	color: #666666;
}

.footer_feature_sarthak_footer__newslatter form input:-ms-input-placeholder {
	color: #666666;
}

.footer_feature_sarthak_footer__newslatter form input::-ms-input-placeholder {
	color: #666666;
}

.footer_feature_sarthak_footer__newslatter form input::placeholder {
	color: #666666;
}

.footer_feature_sarthak_footer__newslatter form button {
	position: absolute;
	right: 4px;
	top: 4px;
}

.footer_feature_sarthak_footer__social a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background: #e1e1e1;
	font-size: 15px;
	color: #111111;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	margin-right: 6px;
	margin-bottom: 5px;
}

.footer_feature_sarthak_footer__social a:last-child {
	margin-right: 0;
}

.footer_feature_sarthak_footer__copyright__text {
	border-top: 1px solid #e1e1e1;
	padding: 18px 0 25px;
	text-align: center;
	margin-top: 35px;
}

.footer_feature_sarthak_footer__copyright__text p {
	margin-bottom: 0;
}

.footer_feature_sarthak_footer__copyright__text a {
	color: #5C5C5C;
}

.footer_feature_sarthak_footer__copyright__text i {
	color: #ca1515;
}

.footer_feature_sarthak_footer__copyright__text a:hover {
	color: #ca1515;
}

html, body {
    height: 100%;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
}

@media only screen and (min-width: 1200px)
{.container {
    max-width: 1170px;
}}

footer_feature_sarthak_p {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: #666666;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 15px 0;
}

footer_feature_sarthak_h6 {
    font-size: 16px;
    margin: 0;
    color: #111111;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}

footer_feature_sarthak_ul {
    padding: 0;
    margin: 0;
}

.site-btn {
    font-size: 14px;
    color: #ffffff;
    background: #ca1515;
    font-weight: 600;
    border: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 50px;
}